@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*@import 'flowbite/dist/flowbite.css';*/
.apexcharts-tooltip {
  background: #f3f3f3;
  color: orange;
}

.modal {
  z-index: 9999; /* Valor alto para garantir que o modal fique sobre o conteúdo */
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semitransparente */
  z-index: 9998; /* Um pouco abaixo do modal */
}

body{
    background-color: #041439;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

@media print {
    /* Ocultar a barra de endereço durante a impressão */
    #site-header {
      display: none !important;
    }
  }

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #444141;
    border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar:horizontal {
    height: 10px;
}


.rbc-header{
    color: white;
    font-size: 14px;
    height: 26px;
    justify-content: center;
    align-items: center;
    background: #0f172a;
}
.rbc-header.rbc-today {
   background-color:rgb(12, 47, 121) !important;


}

.rbc-calendar {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    padding: 4px;
  }
  
  .rbc-toolbar {
    background-color: #f8f9fa;
    color: #333;
  }
  
  .rbc-event {
    background-color: #3174ad;
    color: #fff;
  }
  
  .rbc-today {
    background-color: #41a6f3;
  }
  
  .rbc-off-range-bg {
    background-color: #f8f9fa;
  }
  
  .rbc-off-range {
    color: #999;
  }

  .rbc-event,
.rbc-background-event {
  z-index: 2;
  
  padding: 2px !important;
}
/*
.rbc-day-slot .rbc-time-slot:after {
  content: "";
  width: 100%;
  border-top: 1px solid #52970d;
  display: block;
  

}*/
.rbc-event-label {
 display: flex;
 padding-left: 10px;
 padding-top: 1px;

}

.rbc-events-container {
 
  width: 100% !important;
  display: flex;
  
}